h1 {
    font-size: 90px;
}

h2 {
  font-size: 50px;
}

a:visited {
  color: #028a0f;
}

body {
    color: #028a0f;
    font-size: 30px;
    background-color: #ed9121;
    margin-top: 30px;
    margin-left: 30px;

}
