h1 {
    font-size: 90px;
    color: #028a0f;
    background-color: #ed9121;
    font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 50px;
  color: #028a0f;
  background-color: #ed9121;
  font-family: 'Montserrat', sans-serif;
}

a:visited {
  color: #028a0f;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #10d4c8;
    font-size: 30px;
    background-color: #ed9121;

}
