h1 {
    font-size: 90px;
    color: #028a0f;
}


a:visited {
  color: #028a0f;

}

h2 {
  font-size: 60px;

}

body {
    font-family: 'Montserrat', sans-serif;
    color: #028a0f;
    font-size: 30px;
    background-color: #ed9121;
}
