* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.board {
  width: 820px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}

.column {
  width: 820px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.two {
  width: 700px;
  height: 10px;
}

.three {
  width: 700px;
  height: 20px;
  background-color: #83A9CE;
}

.four {
  width: 700px;
  height: 10px;
}

.five {
  width: 700px;
  height: 10px;
}

.co {
  width: 700px;
  height: 500px;
  background-color: #83A9CE;
}

header, footer {
  width: 700px;
  height: 100px;
  background-color: #83A9CE;
}

.blog {
  width: 800px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  display: flow-root;
}

.recspace {
  background-color: lightblue;
  width: 800px;
  height: 100px;
  margin-bottom: 50px;
}
.box {
  background-color: lightblue;
  width: 640px;
  height: 400px;
  margin-bottom: 25px;
  float:left;
}

.smallspace {
  background-color: lightblue;
  width: 150px;
  height: 200px;
  margin-left: 10px;
  float: left;
}

.rectangle {
  width: 640px;
  height: 50px;
  background-color: lightblue;
  border: 5px 0px;
  float: left;
}

.bigspace {
  width: 800px;
  height: 55px;
  margin: 25px auto;
  float: left;
}
