* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.board {
  width: 820px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
