* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.board {
  width: 800px;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
